In [1]:
print('hello world my name is yjx')

hello world my name is yjx

In [3]:
a = 5
a

5

In [4]:
import numpy as np  
data = {i : np.random.randn() for i in range(7)}   #根据给定维度生成[0,1)之间的数据，包含0，不包含1
data

{0: 0.7530021376417205,
 1: -1.6897335596200533,
 2: -1.6913806539582426,
 3: -2.202939878699208,
 4: 0.8473662015386249,
 5: -1.4040097227569075,
 6: 0.36403988018620814}

###  在变量前后使用?，可显示对象的信息     用??会显示函数的源码

In [13]:
b = [1,2,3,4] 
b?
#Type:        list
#String form: [1, 2, 3, 4]
#Length:      4
#Docstring:  
#list() -> new empty list
#list(iterable) -> new list initialized from iterable's items

In [15]:
def add_numbers(a,b):
    c = a + b
    return c
add_numbers??

### Signature: add_numbers(a, b)
Docstring: <no docstring>
Source:   
def add_numbers(a,b):
    c = a + b
    return c
File:      d:\jupyter\利用python进行数据分析2\yjx\chapter2\<ipython-input-15-99ceed1222d4>
Type:      function

### 魔术命令

In [16]:
%timeit import pandas as pd

838 ns ± 1.48 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [17]:
%debug?

In [18]:
%pwd

'D:\\Jupyter\\利用Python进行数据分析2\\yjx\\chapter2'

### 列表操作 索引 切片 测量长度 拼接 追加 扩编 出现次数 插入 删除 反转 排序

In [2]:
aa = [1,3,5,2,8,9]
aa[1]

3

In [20]:
aa[::-1]

[9, 8, 2, 5, 3, 1]

In [21]:
len(aa)

6

In [22]:
bb = ['I','like','code']
aa + bb

[1, 3, 5, 2, 8, 9, 'I', 'like', 'code']

In [23]:
aa.append(['yjx'])
aa

[1, 3, 5, 2, 8, 9, ['yjx']]

In [25]:
bb.extend(['yjx'])
bb

['I', 'like', 'code', 'yjx']

In [27]:
aa.count(1)

1

In [28]:
bb.insert(2,'304')
bb

['I', 'like', '304', 'code', 'yjx']

In [31]:
aa.pop(6)

'yjx'

In [32]:
aa

[1, 2, 3, 5, 8, 9]

In [33]:
aa.sort()
aa

[1, 2, 3, 5, 8, 9]

In [3]:
isinstance(aa,(int,float))

False

In [8]:
b = 'foo'
getattr(b,'split')

In [9]:
a = [1,2,3]
b = a 
c = list(a)

In [10]:
a is b

True

In [11]:
a is not c

True

In [12]:
cc = 7546464
cc ** 8

10518360145949424111978450419100003304240414730754195456

### 字符串

In [14]:
q = 34
s = str(q)
s

'34'

In [15]:
temp = '{0:.2f} {1:s} are worth US${2:d} '

In [16]:
temp.format(2.26,'FFFFF',2)

'2.26 FFFFF are worth US$2 '

### 字节 Unicode

In [17]:
val = "pyhton"
val

'pyhton'

In [18]:
val_1 = val.encode('utf-8')
val_1

b'pyhton'

### 日期和时间

In [19]:
from datetime import datetime,date,time
dt = datetime(2019,2,27,9,50,12)

In [20]:
dt.day

27

In [21]:
dt.hour

9

In [23]:
dt.strftime('%Y/%m/%d/%H:%M')

'2019/02/27/09:50'

In [24]:
dt2 = datetime(2011,11,15,22,30)
delta = dt2 - dt
delta

datetime.timedelta(-2661, 45588)

### 控制

In [29]:
x = int(input("输入一个字:"))  #int转换一下 要不然是字符串 input()的返回值始终是字符串
if x<0:
    print('负数')
elif x == 0:
    print('0')
elif 0< x <5:
    print('不大于5的正数')
else:
    print('>=5的正数')

输入一个字:6
>=5的正数

In [31]:
seq = [1,2,None,4,None,5]
total = 0
for value in seq:
    if value is None:
        continue
    total += value
print(total)

12

In [32]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [33]:
x = 256
tot = 0
while x>0:
    if total > 500:
        break
    total += x
    x = x // x
x

1

In [34]:
range(10)

range(0, 10)

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]