In [16]:
# coding=utf-8   #默认编码格式为utf-
!type "D:\Jupyter\利用Putf-8ython进行数据分析2\yjx\Python-\chapter6\data\ex1.txt"

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [1]:
import pandas as pd
f = open('D:\Jupyter\利用Python进行数据分析2\yjx\Python-\chapter6\data\ex1.txt')
df = pd.read_csv(f)
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
f = open('D:\Jupyter\利用Python进行数据分析2\yjx\Python-\chapter6\data\ex1.txt')
pd.read_table(f, sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [25]:
f1 = open('D:\Jupyter\利用Python进行数据分析2\yjx\Python-\chapter6\data\ex3.csv')
df2 = pd.read_csv(f1,encoding='utf-8')
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
f1 = open('D:\Jupyter\利用Python进行数据分析2\yjx\Python-\chapter6\data\ex1.csv')
df3 = pd.read_csv(f1,encoding='utf-8')
df3

   锘縜   b   c   d message
0   1   2   3   4   hello
1   5   6   7   8   world
2   9  10  11  12     foo

### JSON数据

In [25]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [27]:
import json
result = json.loads(obj)    #json.loads即可将JSON字符串转换成Python形式
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [29]:
asjson = json.dumps(result)

In [30]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [ ]:
#如果你需要将数据从pandas输出到JSON，可以使用to_json方法

### XML和HTML

In [28]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
len(tables)

1

In [29]:
failures = tables[0]

In [30]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"

In [32]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

### 二进制数据格式

In [36]:
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [41]:
#实现数据的高效二进制格式存储最简单的办法之一是使用Python内置的pickle序列化

### HDF5

### web API

In [43]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [44]:
data = resp.json()
data[0]['title']

'Backport PR #25368 on branch 0.24.x (BUG: Fix potential segfault after pd.Categorical(pd.Series(...), categories=...))'

In [45]:
issues = pd.DataFrame(data,columns=['number','title','labels','state'])
issues

,number,title,labels,state
0,25520,Backport PR #25368 on branch 0.24.x (BUG: Fix ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,25519,Backport PR #25498 on branch 0.24.x (BUG: Fix ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,25516,STY: use pytest.raises context manager (frame),"[{'id': 106935113, 'node_id': 'MDU6TGFiZWwxMDY...",open
3,25515,BUG: inappropriate error message for DataFrame...,[],open
4,25514,Display precision doesn't affect complex float...,[],open
5,25513,to_json(orient='records') omits index if df ha...,[],open
6,25512,to_datetime does not ignore the error when the...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,25510,New feature request: skip_window(s) for df.rol...,[],open
8,25509,Dir fails on dataframes with pathological colu...,[],open
9,25508,Linear interpolation fails on tz-aware Series,"[{'id': 195647922, 'node_id': 'MDU6TGFiZWwxOTU...",open
10,25507,pandas.Series.isin() is slow on large sets due...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
11,25506,BUG: Setting Timestamp with timezone with .at ...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
12,25503,BUG: User-facing AssertionError with add colum...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
13,25502,Update documentation of read_csv to explain th...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,25501,.read_csv() isn't reading escape characters pr...,[],open
15,25500,"(api) function names: pct_change, diff","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
16,25499,BUG: Overflow in IntervalIndex/IntervalArray m...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
17,25497,regression in error message for DatetimeIndex ...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
18,25495,Unexpected dtype when using .loc to set Catego...,[],open
19,25490,DOC: Add conda uninstall pandas to contributin...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
20,25488,Fix JSON orient='table' issues with numeric co...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
21,25487,DOC: Force Removal of pandas From Dependencies,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
22,25484,BUG: User-facing AssertionError with add colum...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
23,25481,BUG: confusing error message for DataFrame.plot(),"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
24,25476,value_counts() counting wrong categories,[],open
25,25475,New Feature Request: df.style.hide_index() to ...,"[{'id': 195647922, 'node_id': 'MDU6TGFiZWwxOTU...",open
26,25472,read_csv fails with `TypeError: object cannot ...,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
27,25471,"""SpecificationError: nested dictionary is ambi...","[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
28,25470,Typo in release page link,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,25468,Literal nan string stored in dataframe using j...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open